body{
	overflow-x: hidden;
	box-sizing: border-box;
}

.wrap{
	margin: auto;
	border: 1px solid rgb(231, 225, 224);
	border-radius: 4px;
	padding: 10px;
}


header{
	min-height: 90px;
	background-color: white;
	border-bottom: 2px solid #fff8f8;
	z-index: 1;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	margin-left: 14%;
	margin-top: 10px;
}


.content-area{
	width: 100%;
	/* height: auto; */
	display: flex;
	height: 95vh;
}


.main-content{
	flex: 0 0 87%;
	/* padding: 40px; */
	overflow: hidden;
}