
.headerActions{
	height: 60px;
	display: flex;
	align-items: center;
	/* justify-content: space-evenly; */

}
.headerActions input[type='text']{
	height: 35px;
	width: 440px;
	border-radius: 6px;
	/* border: 1px solid #d3d3d3; */
	border: none;	
}

.headerActions input[type='date']{
	height: 35px;
	width: 160px;
	border-radius: 6px;
	border: 1px solid #d3d3d3;
	margin-left: auto;

}

.headerActions select{
	height: 35px;
	width: 160px;
	border-radius: 6px;	
	/* margin-left: auto; */
	margin-left: 20px;
	margin-right: 20px;
}

.input-search{
	width: 450px;
	border: 1px solid #e6e6e6;
	height: 40px;
	margin-left: auto;
	display: flex;
	border-radius: 4px;
	/* padding-right: 10px; */
	
}

.input-search img{
margin-left: auto;
padding: 4px;

cursor: pointer;
}
.input-search img:hover{
	border: 1px solid #d3d3d3;
	background-color: #ddd7d7;
	/* padding: 10px; */
	display: flex;
	
    
}
.input-search input[type='text']:focus{
outline: none;
border-bottom: 1.8px solid #d3d3d3;
}