.edit{
	padding: 5px 15px;
	background-color: rgb(19, 219, 219);
	color: white;
	text-decoration: none;
	border-radius: 5px;
}
.delete{
	
	padding: 5px 15px;
	background-color: rgb(212, 74, 74);
	color: white;
	text-decoration: none;
	border-radius: 5px;
}



.edit:hover{
background-color: #cfcccc;
}
.delete:hover{
	background-color: rgb(218, 108, 108);
}


.table-wrap{
	overflow-x: scroll;
	margin: 20px;
	background-color: #fbfbfb;
	padding: 20px;
	/* background-color: rebeccapurple; */
	/* padding-right: 20px; */
	border-radius: 8px;
	width: 90%;
	height: 95vh;
}
table{
	border-collapse: collapse;
	max-width: 100%;

	
}

table th{
	background-color: #191919;
	color: white;
	height: 40px;
	font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 10px 40px;
}

table td {
	text-align: center;
	padding: 15px;
  	
}

table tr{
	border-bottom: 1px solid  #e9dede ;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
}
table tr:nth-child(even){
	background-color:   #fdfdfd ;

}

table tr:hover{
background-color: #fff9f9;
cursor: pointer;
}